nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ol {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  nav li {
    margin-right: 10px;
  }
  