body, html {
  margin:0;
  padding: o;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;

  }
  
nav ol {
    display: flex;
    list-style: none;
    padding: 0;
}
  
nav li {
    margin-right: 2em;
    margin-left: 2em;
    font-size: larger; 
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: row  ;
  text-align: center;
}

p {
  font-size: 50px;
}

.hi-there {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.arrow {
  margin: auto;
  
}
.education-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 10px;
  flex:50%;
  margin: auto;
  align-items: center;

}
.uni {
  padding: 10px;
  margin: auto;
  font-size: 40px;
}

img {
  align-self: center;
}

/* projects  */

.projects {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}




/* hobby section  */




.hobby-title {
  text-align: center;
  font-size: 40px;
}
